<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ServerDb" connectionString="Data Source=192.168.1.4\SQLEXPRESS;Initial Catalog=MROInventorydb;User ID=admin;Password=mbettaglo;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
    <add name="MROInventory_Project.Properties.Settings.MROInventorydbConnectionString"
      connectionString="Data Source=MEX-SQL-001;Initial Catalog=MROInventorydb;Persist Security Info=True;User ID=admin_sql;Password=DaBatase#40107"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Notification_MROSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.5/Notification/Notification_MRO.asmx"
        binding="basicHttpBinding" bindingConfiguration="Notification_MROSoap"
        contract="ServiceReference1.Notification_MROSoap" name="Notification_MROSoap" />
    </client>
  </system.serviceModel>
</configuration>